<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>home</title>
  </head>
  <body>

    <h2>Home</h2>
    Check out the <a href="/machine">Vending Machine</a>
    <br>

    Are You A <a href="/vendor">Vendor</a>?

  </body>
</html>
