<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    {{#snack}}
    <div class="machineContainer">

      <p>{{name}}, {{quantity}}</p>
      <p>{{cost}}</p>
      <p>{{discription}}</p>
      <form class="" action="/buyItem/{{id}}" method="post">
      <p><button type="submit" name="button">Buy!</button>
      </form>
    </div>
    <hr>
    {{/snack}}


  </body>
</html>
